<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bulma.css')}}" />
    <title>Axis AI Challenge</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a
            class="navbar-item has-text-centered"
            href="https://www.axisbank.com/"
          >
            <img
              src="./static/images/1280px-Axis_Bank_logo.svg.png"
              alt="Axis AI challenge"
              width="112"
              height="42"
            />
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span> <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </nav>

      <p class="title is-2 is-spaced has-text-centered has-text-danger">
        Signature Verfication
      </p>
      <p class="subtitle is-4 is-spaced">
        The signature has been verified and it gives the following confidence
        scores:
      </p>
      {% if genuine >= 50 %}
      <p class="title is-4">Genuine</p>
      <p class="subtitle is-4 is-spaced">
        The signature has {{genuine}}% probability of being genuine.
      </p>
      <p class="title is-3 has-text-centered has-text-danger">
        The image has been classified as genuine.
      </p>
      {% endif %}
      {% if forged > 50%}
      <p class="title is-4">Forged</p>
      <p class="subtitle is-4 is-spaced">
        The signature has {{forged}}% probability of being forged.
      </p>
      <p class="title is-3 has-text-centered has-text-danger">
        The image has been classified as forged.
      </p>
      {% endif %}




      <footer>
        <div class="content has-text-centered">
          <p class="subtitle is-6">
            Made with <i class="fa fa-heart has-text-danger" aria-hidden="true"></i> and <i class="fa fa-coffee has-text-primary" aria-hidden="true"></i> in New Delhi for AXIS AI Challenge.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
