<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bulma.css')}}" />
    <title>Axis AI Challenge</title>
  </head>
  <body>
    <div class="container">
      <!-- Controls Navbar -->
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a
            class="navbar-item has-text-centered"
            href="https://www.axisbank.com/"
          >
            <img
              src="./static/images/1280px-Axis_Bank_logo.svg.png"
              alt="Axis AI challenge"
              width="112"
              height="42"
            />
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span> <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </nav>
      <!-- This is Tabs -->
      <div class="tabs is-boxed">
        <ul>
          <li class="tab" onclick="openTab(event,'upload')">
            <a>
              <span class="icon is-small"
                ><i class="fas fa-image" aria-hidden="true"></i
              ></span>
              <span>Upload Signature</span>
            </a>
          </li>
          <li class="tab" onclick="openTab(event,'sign')">
            <a>
              <span class="icon is-small"
                ><i class="fas fa-music" aria-hidden="true"></i
              ></span>
              <span>Sign Documents</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Content for Tab 1 -->
      <div class="container">
        <div id="upload" class="content-tab">
          <div class="field">
            <label class="label is-large">Upload your signature</label>
          </div>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <form id="upload-form" action="/uploaded" method="post" enctype="multipart/form-data">
              <input type="file" name="file" accept="image/*" >
              <input type="submit" value="upload">
              </form>
            </p>
            <p class="control">
              <input
                type="submit"
                value="Upload your image"
                class="button is-danger"
              />
            </p>
          </div>
        </div>
        <!-- Content for Tab 2 -->
        <div id="sign" class="content-tab" style="display:none">
          <div class="field">
            <label class="label is-large">Digitally Sign Documents</label>
          </div>
          <div class="field is-grouped">
            <label class="label control is-expanded">Sign Cheque</label>
            <p class="control">
              <input
                type="submit"
                value="Upload Signature"
                class="button is-danger"
              />
            </p>
          </div>

          <div class="field is-grouped">
              <label class="label control is-expanded">Sign Demand Draft</label>
              <p class="control">
                <input
                  type="submit"
                  value="Upload Signature"
                  class="button is-danger"
                />
              </p>
            </div>

            <div class="field is-grouped">
                <label class="label control is-expanded">Open a Savings Account</label>
                <p class="control">
                  <input
                    type="submit"
                    value="Upload Signature"
                    class="button is-danger"
                  />
                </p>
              </div>
        </div>
      </div>
    </div>
    <!-- JS for Tab Switcher -->
    <script>
      function openTab(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("content-tab");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(
            " is-active",
            ""
          );
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " is-active";
      }
    </script>

   <footer>
        <div class="content has-text-centered">
          <p class="subtitle is-6">
            Made with <i class="fa fa-heart has-text-danger" aria-hidden="true"></i> and <i class="fa fa-coffee has-text-primary" aria-hidden="true"></i> in New Delhi for AXIS AI Challenge.
          </p>
        </div>
      </footer>
  </body>
</html>
